<h2>create event</h2>
<%=form_tag  do %>
  <%= label_tag :event_name,"Event name" %>:
  <%= text_field_tag :event_name %><br />
  <%= label_tag :event_start,"Event starting date" %>:
  <%= date_select(:event_start, :event_start )%><br />
  <%= label_tag :event_end,"Event ending date" %>:
  <%= date_select(:event_end, :event_end )%><br />
  <%= label_tag :org_name,"Select Organization name" %>:<br / >
  <%= check_box_tag(:org) %>
  <%= label_tag(:org_exist, "Exist") %>
  <%= select_tag :org_name, options_from_collection_for_select(@o, :org_name, :org_name) %><br />
  <%= check_box_tag(:org,"0") %>
  <%= label_tag(:org_notexist, "Not Exist, Enter a new Organization name:") %>
  <%= text_field_tag :org_name_new %><br />
  <%= submit_tag("Create Event") %>
<%end%>
