<link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
<% if @access_token%>
<div id="header">
<h1>Activ
<%=image_tag('activman.png',:width=>80)%></h1>
</div>
	<% if @type == 1 #new%> 
		<div id="userinfo">
		<p>Welcome to join us, <%= @me["name"] %><br>
		<img src="https://graph.facebook.com/<%=@me["id"]%>/picture?access_token=<%= @access_token %>"></p>
		</div>
		<div id="content">
		<%=link_to "新增一個活動", {:controller => 'home',:action => 'create_event'},:class => 'sexybutton sexysimple sexymagenta sexyxl'%>  
		<br><br>
		</div>
	<% else #old%>
		<div id="userinfo">
		<p>Hello, <%= @user.username %><br>
		<img src="https://graph.facebook.com/<%=@user.fb_id%>/picture?access_token=<%= @access_token %>"></p>
		</div>
		<% if @events.size > 0 %>
		<div id="content">
		<h3>我的活動列表</h3>
			<%@events.each do |e|%>
				<%=form_tag :controller => 'event', :action => 'index' do %>
			<!--%=button_to e.event_name,  {:controller => 'event', :action => 'index', :user_id => @user.id, :id => e.id}%-->
					<%= hidden_field_tag(:id, e.id) %>
					<%= button_tag e.event_name,:class => "sexybutton sexysimple sexygreen sexylarge", :type => "submit"%>
				<%end%>
				<br>
			<%end%>
		<br><br>
		<%=link_to "新增一個活動", {:controller => 'home',:action => 'create_event'},:class => 'sexybutton sexysimple sexymagenta sexyxl'%>  
		<br><br>
		</div>
		<%end%>
	<%end%>
	<div id="rightcolumn">
	<h3>熱門與最新活動</h3>
	</div>
<% else %>
   <p align="center"><%= link_to image_tag("activ.png", :width=>480), login_path %></p>
<%end%>

