<link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
 <%= stylesheet_link_tag 'event' %>
<!--% unless flash[:error].blank? %-->
	<!--script>alert(<%= flash[:error] -%>)</script-->
<!--% end %-->
<div id="header">
<h3><%=@e.organization.org_name%></h3><a href="/event/" style="text-decoration:none"><h1><%=@e.event_name%></h1></a>

</div>
<div id="userinfo">
       Hello, <%= @uu.username %>
       <img src="https://graph.facebook.com/<%=@uu.fb_id%>/picture?access_token=<%= @access_token %>" width=30><br>
	<%if @user_id == @e.event_head%>
		活動負責人<br>
	<%end%>
	<%@dep_me.each do |d|%>
		<%if @user_id == d.dep_head%>
			<%=d.dep_name%>負責人<br>
		<%end%>
	<%end%>
	<%@act_me.each do |a|%>
		<%if @user_id == a.act_head%>
			<%=a.act_name%>負責人<br>
		<%end%>
	<%end%>
	<%@uu.departments.where(:event_id => @e.id).each do |d|%>
		<%if @user_id != d.dep_head%>
			<%=d.dep_name%>成員<br>
		<%end%>
	<%end%>
	<%@uu.activities.where(:event_id => @e.id).each do |a|%>
		<%if @user_id != a.act_head%>
			<%=a.act_name%>成員<br>
		<%end%>
	<%end%>

</div>
<div id="content">
<div id="tabs27">
	<ul>
	<li><a href="/event/" class="current">活動首頁</a></li>
	<li><a href="/event/aboutus/" >活動介紹</a></li>
	<li><a href="/event/members/" >活動成員</a></li>
	<li><a href="/event/calendar/" >活動行事曆</a></li>
	<li><a href="/event/forum/" >活動討論區</a></li>
	<li><a href="/event/accounting/" >活動收支表</a></li>
	</ul>
</div>
<%if @ps.size == 0%>
	<h3>目前尚無公告文章，請至各部門或節目首頁張貼公告。</h3>
<%else%>
	<table id="post"><tr><th span="col">編號 <th span="col">日期 <th span="col">作者 <th span="col">部門/節目 <th span="col">文章標題</tr>
	<%@i = 0%>
	 <%@ps.each do |p|%>
		<%@i = @i + 1%>
         	<%@u = User.find(p.user_id)%>
		<%if p.dep_id != nil%>
			<%@d = Department.find(p.dep_id)%>
			<%@name = @d.dep_name%>
		<%elsif p.act_id != nil%>
			<%@a = Activity.find(p.act_id)%>
			<%@name = @a.act_name%>
		<%end%>	
              	<tr class="tmp" id="post<%=p.id%>"><td><%=@ps.size-@i+1%> <td><%=p.updated_at%> <td><%=@u.username%> <td>[<%=@name%>] <td><%=p.title%></tr>
         <%end%>
	</table>
<%end%>

</div>
<div id="rightcolumn">
<p><%= link_to '回活動列表', home_path,:class => 'sexybutton sexysimple sexygreen sexyxl' %></p>
<p><%= link_to '管理', {:controller => 'event',:action => 'manage'},:class => 'sexybutton sexysimple sexyyellow sexyxl' %></p>
	<% @deps.each do |d|%>
 		<%=form_tag :controller => 'event', :action => 'show_dep' do %>
                	<%= hidden_field_tag(:dep_id, d.id) %>
                        <!--%= submit_tag(d.dep_name) %-->
			<%= button_tag d.dep_name,:class => "sexybutton sexysimple sexyblue sexyxl", :type => "submit"%>
                <%end%>
		<br>
	<%end%>

	<% @acts.each do |a|%>
 		<%=form_tag :controller => 'event', :action => 'show_act' do %>
                	<%= hidden_field_tag(:act_id, a.id) %>
                        <!--%= submit_tag(a.act_name) %-->
			<%= button_tag a.act_name,:class => "sexybutton sexysimple sexypurple sexyxl", :type => "submit"%>
                <%end%>
		<br>
	<%end%>
<%= link_to @e.event_name, {:controller => 'event',:action => '/'},:class => 'sexybutton sexysimple sexymagenta sexyxl' %>
</div>

<script>
	$('.tmp').live('click',function(){
		var self = $(this);
		if(self.hasClass('added')) {
			self.removeClass('added');
			self.next().remove();
			return;
		}
		var id = self.attr('id').substr(4); //split 'post'
		
		$.ajax({type: "POST", url: "/event/get_ajax", data:{ "id" : id }, dataType: "json", timeout: 5000,
		success: function(data,textStatus,xhr){
			self.addClass('added').after('<tr class="detail"><td colspan="5">'+data+'</td></tr>');},
		error: function(xhr,textStatus,e){
			console.log("error");
			console.log(xhr);
			console.log(textStatus);
			console.log(e);
		}});
	});
</script>
