<link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
<!--% unless flash[:error].blank? %-->
	<!--script>alert(<%= flash[:error] -%>)</script-->
<!--% end %-->
<%=flash[:notice]%>
<h3><%=@e.organization.org_name%><h2><%=@e.event_name%></h2>
<h2>負責人: <%=@head.username%><img src="https://graph.facebook.com/<%=@head.fb_id%>/picture?access_token=<%= @access_token %>"></h2>

<p><%= link_to '回活動列表', home_path,:class => 'sexybutton sexysimple sexygreen sexyxl' %></p>

<h2>成員</h2>
<% @users.each do |u|%>
	<% if u.username != nil%>
		<img src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>"> 
		<%=u.username%> 
	<%end%>
<%end%>
<br>
<% @users.each do |u|%>
	<% if u.username == nil%>
		<%=u.email%><br>
	<%end%>
<%end%>
	
<br><br>
	<% @deps.each do |d|%>
 		<%=form_tag :controller => 'event', :action => 'show_dep' do %>
                	<%= hidden_field_tag(:dep_id, d.id) %>
                        <!--%= submit_tag(d.dep_name) %-->
			<%= button_tag d.dep_name,:class => "sexybutton sexysimple sexyblue sexyxl", :type => "submit"%>
                <%end%>
		<br>
	<%end%>

<br><br>
	<% @acts.each do |a|%>
 		<%=form_tag :controller => 'event', :action => 'show_act' do %>
                	<%= hidden_field_tag(:act_id, a.id) %>
                        <!--%= submit_tag(a.act_name) %-->
			<%= button_tag a.act_name,:class => "sexybutton sexysimple sexypurple sexyxl", :type => "submit"%>
                <%end%>
		<br>
	<%end%>

<br><br>
<p><%= link_to '管理', {:controller => 'event',:action => 'manage'},:class => 'sexybutton sexysimple sexyyellow sexyxl' %></p>

<h2>Leave messages!!!!!!!</h2>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=418210271537455&amp;xfbml=1"></script><fb:comments href="http://Activ.herokuapp.com?event_id=<%=@id%>" num_posts="2" width="500"></fb:comments>  
  


