 <link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
<!--% unless flash[:error].blank? %-->
	<!--script>alert(<%= flash[:error] -%>)</script-->
<!--% end %-->
<div id="header">
<h3><%=@e.organization.org_name%></h3><h1><%=@e.event_name%></h1>  
</div>
<div id="userinfo">
       <p>Hello, <%= @uu.username %><br>
       <img src="https://graph.facebook.com/<%=@uu.fb_id%>/picture?access_token=<%= @access_token %>"></p>

<p><%= link_to '回活動列表', home_path,:class => 'sexybutton sexysimple sexygreen sexyxl' %></p>
<p><%= link_to '管理', {:controller => 'event',:action => 'manage'},:class => 'sexybutton sexysimple sexyyellow sexyxl' %></p>
</div>

<div id="content">
<%=flash[:notice]%>
<p><%= link_to @e.event_name, event_path,:class => 'sexybutton sexysimple sexyorange sexyxl' %></p>

<% if @user_id == @e.event_head%>
<h2>成員列表</h2>
<ul> 
<% @users.each do |u|%>
	<li>
		<% if u.username != nil%>
			<img src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>"> 
			<%=u.username%> <%=u.email%> #<%=u.id%>
		<%else%>
			<%=u.email%> #<%=u.id%>
		<%end%>
		<%if u.id != @e.event_head%>
			<%= link_to '刪除',{ :controller => 'event', :action => 'destroy', :d_id => u.id},:method => :delete, :confirm => "你確定要將此成員從本活動刪除嗎？這會使他無法在瀏覽任何關於本活動的資訊。若此成員為某節目或部門負責人，則該節目或部門之負責人將先交由本活動之負責人管理。"%>
		<%end%>
	</li>
<%end%>
</ul>

	
<h3>新增成員</h3>
	<%= form_tag(:controller => 'event', :action => 'create') do %>
	請輸入fb email<%= text_field_tag(:email)%>
	<%= submit_tag("新增")%>
	<%end%>
<%end%>

<br><br>
<h2>部門列表</h2>
<ul>
	<% @deps.each do |d|%>
		<li>
		<%= d.dep_name%>
		<%@u = User.find(d.dep_head)%>
		<%=@u.username%> 
                <%=@u.email%>
		dep_id = <%=d.id%>
		<% if @user_id == @e.event_head%>
			<%= link_to 'Delete department', :controller => 'event', :action => 'destroy_dep',:d_id => d.id%>
		
			<%= form_tag(:controller => 'event', :action => 'edit_depname',:e_id => d.id) do %>
				更改部門名稱<%= text_field_tag(:dep_name_new)%>
				<%= submit_tag("確定")%>
			<%end%>
			<%= form_tag(:controller => 'event', :action => 'edit_dephead',:e_id => d.id) do %>
				更改部門負責人(fb_email)<%= text_field_tag(:dep_head_new)%>
				<%= submit_tag("確定")%>
			<%end%>
			
		<%end%>
		<ul>
			<% d.users.each do |u|%>
				<li>
					<img src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>">
					<%=u.username%> <%=u.email%> #<%=u.id%>
					<% if @user_id == d.dep_head && u.id != d.dep_head %>
						<%= link_to 'Delete User', :controller => 'event', :action => 'destroy_depuser', :d_id => u.id, :dep_id => d.id%>
					<%end%>
				</li>
			<%end%>
			<% if @user_id == d.dep_head %>
			<li>
				<%= form_tag(:controller => 'event', :action => 'create_depuser',:dep_id => d.id) do %>
					fb email<%= text_field_tag(:email)%>
					<%= submit_tag("Add User")%>
				<%end%>
			</li>
			<%end%>
		</ul>
		</li>
	<%end%>
</ul>

<% if @user_id == @e.event_head %>
<h3> 新增部門(default template: google 行事曆, 約練討論區, 收支記帳表,部門介紹單,檔案連結區)</h3>
	<%= form_tag(:controller => 'event', :action => 'create_dep') do %>
	department name<%= text_field_tag(:dep_name)%><br>
	administrator email<%= text_field_tag(:email)%>
	<%= submit_tag("Add Department")%>
	<%end%>
<%end%>

<br><br>
<h2>節目列表</h2>
<ul>
	<% @acts.each do |a|%>
		<li>
		<%= a.act_name%>
		<%@u = User.find(a.act_head)%>
		<%=@u.username%> 
                <%=@u.email%>
		act_id = <%=a.id%>
		<% if @user_id == @e.event_head%>
			<%= link_to 'Delete Activity', :controller => 'event', :action => 'destroy_act', :d_id => a.id%>
			<%= form_tag(:controller => 'event', :action => 'edit_actname',:e_id => a.id) do %>
				更改節目名稱<%= text_field_tag(:act_name_new)%>
				<%= submit_tag("確定")%>
			<%end%>
			<%= form_tag(:controller => 'event', :action => 'edit_acthead',:e_id => a.id) do %>
				更改節目負責人(fb_email)<%= text_field_tag(:act_head_new)%>
				<%= submit_tag("確定")%>
			<%end%>
		<%end%>
		<ul>
			<% a.users.each do |u|%>
				<li>
					<img src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>">
					<%=u.username%> <%=u.email%> #<%=u.id%>
					<% if @user_id == a.act_head && u.id != a.act_head %>
						<%= link_to 'Delete User', :controller => 'event', :action => 'destroy_actuser', :d_id => u.id, :act_id => a.id%>
					<%end%>
				</li>
			<%end%>
			<% if @user_id == a.act_head %>
			<li>
				<%= form_tag(:controller => 'event', :action => 'create_actuser',:act_id => a.id) do %>
					fb email<%= text_field_tag(:email)%>
					<%= submit_tag("Add User")%>
				<%end%>
			</li>
			<%end%>
		</ul>
		</li>
	<%end%>
</ul>

<% if @user_id == @e.event_head %>
<h3> 新增節目(default template: google 行事曆, 約練討論區, 收支記帳表,節目介紹單,檔案連結區)</h3>
	<%= form_tag(:controller => 'event', :action => 'create_act') do %>
	activity name<%= text_field_tag(:act_name)%><br>
	administrator email<%= text_field_tag(:email)%><br>
	optional template
	<%= check_box_tag(:light_music_table) %>
	<%= label_tag(:light_music_table, "燈音表") %>
	<%= check_box_tag(:script) %>
	<%= label_tag(:script, "劇本") %>
	<%= submit_tag("Add Activity")%>
	<%end%>
<%end%>
</div>
<div id="rightcolumn">
        <br><br><br>
        <% @deps.each do |d|%>
                <%=form_tag :controller => 'event', :action => 'show_dep' do %>
                        <%= hidden_field_tag(:dep_id, d.id) %>
                        <!--%= submit_tag(d.dep_name) %-->
                        <%= button_tag d.dep_name,:class => "sexybutton sexysimple sexyblue sexyxl", :type => "submit"%>
                <%end%>
                <br>
        <%end%>

        <% @acts.each do |a|%>
                <%=form_tag :controller => 'event', :action => 'show_act' do %>
                        <%= hidden_field_tag(:act_id, a.id) %>
                        <!--%= submit_tag(a.act_name) %-->
                        <%= button_tag a.act_name,:class => "sexybutton sexysimple sexypurple sexyxl", :type => "submit"%>
                <%end%>
                <br>
        <%end%>

</div>


