<link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
 <%= stylesheet_link_tag 'event' %>
<div id="header">
<a href="/event" style="text-decoration:none"><h1><%=@e.event_name%></h1></a><h3><%=@e.organization.org_name%></h3>
</div>
<div id="userinfo">
       Hello, <%= @uu.username %>
       <img src="https://graph.facebook.com/<%=@uu.fb_id%>/picture?access_token=<%= @access_token %>" width=30><br>
       您的身份為：<br>
        <%if @user_id == @e.event_head%>
                <div id="identity">活動負責人<br></div>
        <%end%>
        <%@dep_me.each do |d|%>
                <%if @user_id == d.dep_head%>
                        <div id="identity"><%=d.dep_name%>負責人<br></div>
                <%end%>
        <%end%>
        <%@act_me.each do |a|%>
                <%if @user_id == a.act_head%>
                        <div id="identity"><%=a.act_name%>負責人<br></div>
                <%end%>
        <%end%>
        <%@uu.departments.where(:event_id => @e.id).each do |d|%>
                <%if @user_id != d.dep_head%>
                        <div id="identity"><%=d.dep_name%>成員<br></div>
                <%end%>
        <%end%>
        <%@uu.activities.where(:event_id => @e.id).each do |a|%>
                <%if @user_id != a.act_head%>
                        <div id="identity"><%=a.act_name%>成員<br></div>
                <%end%>
        <%end%>

</div>
<div id="content">
<div id="tabs27">
	<ul>
	<li><a href="/event/">活動首頁</a></li>
	<li><a href="/event/aboutus/" >活動介紹</a></li>
	<li><a href="/event/members/" class="current" >活動成員</a></li>
	<li><a href="/event/calendar/" >活動行事曆</a></li>
	<li><a href="/event/forum/" >活動討論區</a></li>
	<li><a href="/event/accounting/" >活動收支表</a></li>
	</ul>
</div>

負責人: 
<div class="grid_item">
<a href=http://www.facebook.com/profile.php?id=<%=@head.fb_id%> title=<%=@head.email%>>
<img class="img" src="https://graph.facebook.com/<%=@head.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=@head.username%></div>
</a></div>

<h3>成員 共<%=@users.size%>人</h3>
<% @users.each do |u|%>
	<% if u.username != nil%>
<div class="grid_item">
	<a href=http://www.facebook.com/profile.php?id=<%=u.fb_id%> title=<%=u.email%>><img class="img" src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=u.username%></div></a>
</div>
	<%end%>
<%end%>
<br>
<% @users.each do |u|%>
	<% if u.username == nil%>
		<%=u.email%><br>
	<%end%>
<%end%>
	
</div>
<div id="rightcolumn">
	<br>
	<% @deps.each do |d|%>
 		<%=form_tag :controller => 'event', :action => 'show_dep' do %>
                	<%= hidden_field_tag(:dep_id, d.id) %>
                        <!--%= submit_tag(d.dep_name) %-->
			<%= button_tag d.dep_name,:class => "sexybutton sexysimple sexyblue sexyxxl", :type => "submit"%>
                <%end%>
	<%end%>

	<% @acts.each do |a|%>
 		<%=form_tag :controller => 'event', :action => 'show_act' do %>
                	<%= hidden_field_tag(:act_id, a.id) %>
                        <!--%= submit_tag(a.act_name) %-->
			<%= button_tag a.act_name,:class => "sexybutton sexysimple sexypurple sexyxxl", :type => "submit"%>
                <%end%>
	<%end%>
<%= link_to content_tag(:span,@e.event_name,:class=>"heart"), {:controller => 'event'},:class => 'sexybutton sexysimple sexymagenta sexyxxl' %><br>
<%= link_to content_tag(:span,'回活動列表',:class=>"home"), home_path,:class => 'sexybutton sexysimple sexygreen sexyxxl' %><br>
<%if @user_id == @e.event_head%>
<%= link_to content_tag(:span,"管理",:class=>"settings"), {:controller => 'manage',:action => 'new'},:class => 'sexybutton sexysimple sexyorange sexyxxl'%>
<%end%>
</div>


