<link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
 <%= stylesheet_link_tag 'event' %>
<!--% unless flash[:error].blank? %-->
	<!--script>alert(<%= flash[:error] -%>)</script-->
<!--% end %-->
<div id="header">
<h3><%=@e.organization.org_name%></h3><a href="/event/" style="text-decoration:none"><h1><%=@e.event_name%></h1></a>

</div>
<div id="userinfo">
       <p>Hello, <%= @uu.username %><br>
       <img src="https://graph.facebook.com/<%=@uu.fb_id%>/picture?access_token=<%= @access_token %>"></p>

<p><%= link_to '回活動列表', home_path,:class => 'sexybutton sexysimple sexygreen sexyxl' %></p>
<p><%= link_to '管理', {:controller => 'event',:action => 'manage'},:class => 'sexybutton sexysimple sexyyellow sexyxl' %></p>
</div>
<div id="content">
<div id="tabs27">
	<ul>
	<li><a href="/event/">活動首頁</a></li>
	<li><a href="/event/aboutus/" >活動介紹</a></li>
	<li><a href="/event/members/" class="current" >活動成員</a></li>
	<li><a href="/event/calendar/" >活動行事曆</a></li>
	<li><a href="/event/forum/" >活動討論區</a></li>
	<li><a href="/event/accounting/" >活動收支表</a></li>
	</ul>
</div>

負責人: 
<div class="grid_item">
<a href=http://www.facebook.com/profile.php?id=<%=@head.fb_id%>>
<img class="img" src="https://graph.facebook.com/<%=@head.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=@head.username%></div>
</a></div>

<h3>成員 共<%=@users.size%>人</h3>
<% @users.each do |u|%>
	<% if u.username != nil%>
<div class="grid_item">
	<a href=http://www.facebook.com/profile.php?id=<%=u.fb_id%>><img class="img" src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=u.username%></div></a>
</div>
	<%end%>
<%end%>
<br>
<% @users.each do |u|%>
	<% if u.username == nil%>
		<%=u.email%><br>
	<%end%>
<%end%>
	
</div>
<div id="rightcolumn">
	<br><br><br>
	<% @deps.each do |d|%>
 		<%=form_tag :controller => 'event', :action => 'show_dep' do %>
                	<%= hidden_field_tag(:dep_id, d.id) %>
                        <!--%= submit_tag(d.dep_name) %-->
			<%= button_tag d.dep_name,:class => "sexybutton sexysimple sexyblue sexyxl", :type => "submit"%>
                <%end%>
		<br>
	<%end%>

	<% @acts.each do |a|%>
 		<%=form_tag :controller => 'event', :action => 'show_act' do %>
                	<%= hidden_field_tag(:act_id, a.id) %>
                        <!--%= submit_tag(a.act_name) %-->
			<%= button_tag a.act_name,:class => "sexybutton sexysimple sexypurple sexyxl", :type => "submit"%>
                <%end%>
		<br>
	<%end%>
<%= link_to @e.event_name, {:controller => 'event',:action => '/'},:class => 'sexybutton sexysimple sexymagenta sexyxl' %>

</div>


