<link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
<%= stylesheet_link_tag 'event' %>
<%= javascript_include_tag "jquery-latest" %>
<%= javascript_include_tag "jquery.tablesorter" %>

<div id="header">
<h3><%=@e.organization.org_name%></h3><a href="/event/" style="text-decoration:none"><h1><%=@e.event_name%></h1></a>
</div>
<div id="userinfo">
       <p>Hello, <%= @uu.username %><br>
       <img src="https://graph.facebook.com/<%=@uu.fb_id%>/picture?access_token=<%= @access_token %>"></p>

<p><%= link_to '回活動列表', home_path,:class => 'sexybutton sexysimple sexygreen sexyxl' %></p>
<p><%= link_to '管理', {:controller => 'event',:action => 'manage'},:class => 'sexybutton sexysimple sexyyellow sexyxl' %></p>
</div>
<div id="content">
<%if @act_type == 0%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" class="current"><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" >節目介紹</a></li>
        <li><a href="/event/show_act_members/" >成員</a></li>
        <li><a href="/event/show_act_calendar/" >行事曆</a></li>
        <li><a href="/event/show_act_forum/" >討論區</a></li>
        <li><a href="/event/show_act_accounting/" >收支表</a></li>
        <li><a href="/event/show_act_light/" >燈音表</a></li>
        <li><a href="/event/show_act_script/" >劇本</a></li>
        </ul>
</div>
	<%if @ps.size == 0%>
                <h3>目前尚無公告文章。</h3>
        <%else%>
		<table id="post"><tr><th span="col">編號</th> <th span="col">日期</th> <th span="col">作者</th> <th span="col">文章標題</th><th span="col"></th></tr>
		<%@i = 0%>
                <%@ps.each do |p|%>
			<%@i = @i + 1%>
                        <%@u = User.find(p.user_id)%>
			<tr class="tmp" id="post<%=p.id%>"><td><%=@ps.size-@i+1%></td> <td><%=p.updated_at%></td> <td><%=@u.username%></td> <td><%=p.title%></td>
			<%if @u.id == @user_id%>
				<td><%= link_to '刪除',{ :controller => 'event', :action     => 'del_post', :p_id => p.id, :type => "act"},:method => :delete, :confirm => "你確定要刪除此篇文章嗎？"%></td>
			<%else%>
				<td></td>
			<%end%>
		</tr>
                <%end%>
		</table>
        <%end%>

        <%if @see == 1%> 
        <%= form_tag(:controller => 'event', :action => 'create_post',:type => 'act',:e_id => @a.id) do %>
                <h3>文章標題&nbsp;&nbsp;<%= text_field_tag(:post_title)%></h3>
                <h3>文章內容</h3><h3><%= text_area_tag(:post_content,nil,:size=>"25x10",:border=>"0")%></h3>
                <%= submit_tag("完成")%>
        <%end%>
        <%end%>

<%elsif @act_type == 1%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" ><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" class="current">節目介紹</a></li>
        <li><a href="/event/show_act_members/" >成員</a></li>
        <li><a href="/event/show_act_calendar/" >行事曆</a></li>
        <li><a href="/event/show_act_forum/" >討論區</a></li>
        <li><a href="/event/show_act_accounting/" >收支表</a></li>
        <li><a href="/event/show_act_light/" >燈音表</a></li>
        <li><a href="/event/show_act_script/" >劇本</a></li>
        </ul>
</div>

<%if @a.act_subtitle == nil && @a.act_description == nil && @a.act_image_url == nil%>
        <h3>尚未建立任何介紹內容，節目負責人可於 管理->管理節目 修改。</h3>
<%else%>
        <h2><%=@a.act_name%><%if @a.act_subtitle != nil%> - <%=@a.act_subtitle%><%end%>
        </h2>
        <%if @a.act_description != nil%>
                <h3><%=@a.act_description%></h3>
        <%end%>
<br>
        <%if @a.act_image_url != nil%>
                <%=image_tag(@a.act_image_url,:width=>250)%>&nbsp;&nbsp;
        <%end%>
<%end%>

<%elsif @act_type == 2%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" ><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" >節目介紹</a></li>
        <li><a href="/event/show_act_members/"  class="current">成員</a></li>
        <li><a href="/event/show_act_calendar/" >行事曆</a></li>
        <li><a href="/event/show_act_forum/" >討論區</a></li>
        <li><a href="/event/show_act_accounting/" >收支表</a></li>
        <li><a href="/event/show_act_light/" >燈音表</a></li>
        <li><a href="/event/show_act_script/" >劇本</a></li>
        </ul>
</div>
負責人:
<% if @act_head.fb_id == nil%>
<%=@act_head.email%>
<%else%>
<div class="grid_item">
<a href=http://www.facebook.com/profile.php?id=<%=@act_head.fb_id%>>
<img class="img" src="https://graph.facebook.com/<%=@act_head.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=@act_head.username%></div>
</a></div>
<%end%>

<h3>成員 共<%=@a.users.size%>人</h3>
<% @a.users.each do |u|%>
        <% if u.username != nil%>
<div class="grid_item">
        <a href=http://www.facebook.com/profile.php?id=<%=u.fb_id%>><img class="img" src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=u.username%></div></a>
</div>
        <%end%>
<%end%>
<br>
<% @a.users.each do |u|%>
        <% if u.username == nil%>
                <%=u.email%><br>
        <%end%>
<%end%>


<%elsif @act_type == 3%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" ><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" >節目介紹</a></li>
        <li><a href="/event/show_act_members/" >成員</a></li>
        <li><a href="/event/show_act_calendar/"  class="current">行事曆</a></li>
        <li><a href="/event/show_act_forum/" >討論區</a></li>
        <li><a href="/event/show_act_accounting/" >收支表</a></li>
        <li><a href="/event/show_act_light/" >燈音表</a></li>
        <li><a href="/event/show_act_script/" >劇本</a></li>
        </ul>
</div>
<%if @see == 1%>
<%else %>
	<h3>很抱歉，你無權限觀看此頁。</h3>
<%end%>
<%elsif @act_type == 4%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" ><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" >節目介紹</a></li>
        <li><a href="/event/show_act_members/" >成員</a></li>
        <li><a href="/event/show_act_calendar/" >行事曆</a></li>
        <li><a href="/event/show_act_forum/" class="current" >討論區</a></li>
        <li><a href="/event/show_act_accounting/"  >收支表</a></li>
        <li><a href="/event/show_act_light/" >燈音表</a></li>
        <li><a href="/event/show_act_script/" >劇本</a></li>
        </ul>
</div>
<%if @see == 1%>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=418210271537455&amp;xfbml=1"></script><fb:comments href="http://Activ.herokuapp.com?event_id=<%=@id%>&act_id=<%=@a.id%>" num_posts="2" width="500"></fb:comments>
<%else %>
	<h3>很抱歉，你無權限觀看此頁。</h3>
<%end%>
<%elsif @act_type == 5%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" ><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" >節目介紹</a></li>
        <li><a href="/event/show_act_members/" >成員</a></li>
        <li><a href="/event/show_act_calendar/" >行事曆</a></li>
        <li><a href="/event/show_act_forum/" >討論區</a></li>
        <li><a href="/event/show_act_accounting/" class="current" >收支表</a></li>
        <li><a href="/event/show_act_light/" >燈音表</a></li>
        <li><a href="/event/show_act_script/" >劇本</a></li>
        </ul>
</div>

<table id="account" class="tablesorter"><thead>
	<tr><th>編號</th><th>款項</th><th>金額</th><th>統一發票號碼</th><th>報帳人</th><th>報帳時間</th><th>備註</th><th>核銷</th><th>撥款</th></tr></thead>
	<tbody>
	<% @i = 0%>
	<% @actacc.each do |acc| %>
	<% @i = @i + 1 %>
	<tr>
		<td><%=@i%></td>
		<td><%= acc.title %></td>
		<td><%= acc.balance %></td>
		<td><%= acc.receipt %></td>
		<%u = User.find(acc.user_id)%>
		<td><%= u.username %></td>
		<td><%= acc.updated_at %></td>
		<td><%= acc.comment %></td>
		<td><% if acc.approved == false %>X<% else %>O<% end %></td>
 		<td><% if acc.paid == false %>X<% else %>O<% end %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<div class="create">
	<h2>新增開支</h2>
	<%=form_tag :action => 'save_act_accounting' do %>
		<%= label_tag :title,"名目" %>:
		<%= text_field_tag :title %><br />
		<%= label_tag :balance,"金額" %>:
		<%= text_field_tag :balance %><br />
  		<%= label_tag :receipt,"發票" %>:
		<%= text_field_tag :receipt %><br />
		<%= label_tag :comment,"備註" %>:
  		<%= text_area_tag :comment %><br />
  		<%= button_tag "完成",:class => "sexybutton sexysimple sexymagenta sexylarge", :type => "submit"%>
  		<%= link_to "取消",home_path,:class => "sexybutton sexysimple sexymagenta sexylarge"%>
	<%end%>
</div>
<%elsif @act_type == 6%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" ><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" >節目介紹</a></li>
        <li><a href="/event/show_act_members/" >成員</a></li>
        <li><a href="/event/show_act_calendar/" >行事曆</a></li>
        <li><a href="/event/show_act_forum/" >討論區</a></li>
        <li><a href="/event/show_act_accounting/"  >收支表</a></li>
        <li><a href="/event/show_act_light/"class="current" >燈音表</a></li>
        <li><a href="/event/show_act_script/" >劇本</a></li>
        </ul>
</div>
 <iframe class="light" src="/light?act_id=<%=@a.id%>" frameborder="0" allowfullscreen></iframe>
<%elsif @act_type == 7%>
<div id="tabs28">
        <ul>
        <li><a href="/event/show_act" ><%=@a.act_name%></a></li>
        <li><a href="/event/show_act_aboutus/" >節目介紹</a></li>
        <li><a href="/event/show_act_members/" >成員</a></li>
        <li><a href="/event/show_act_calendar/" >行事曆</a></li>
        <li><a href="/event/show_act_forum/" >討論區</a></li>
        <li><a href="/event/show_act_accounting/" >收支表</a></li>
        <li><a href="/event/show_act_light/" >燈音表</a></li>
        <li><a href="/event/show_act_script/" class="current">劇本</a></li>
        </ul>
</div>
<%end%>
</div>


<div id="rightcolumn">
        <br><br><br>
        <% @deps.each do |d|%>
                <%=form_tag :controller => 'event', :action => 'show_dep' do %>
                        <%= hidden_field_tag(:dep_id, d.id) %>
                        <!--%= submit_tag(d.dep_name) %-->
                        <%= button_tag d.dep_name,:class => "sexybutton sexysimple sexyblue sexyxl", :type => "submit"%>
                <%end%>
                <br>
        <%end%>

        <% @acts.each do |a|%>
                <%=form_tag :controller => 'event', :action => 'show_act' do %>
                        <%= hidden_field_tag(:act_id, a.id) %>
                        <!--%= submit_tag(a.act_name) %-->
                        <%= button_tag a.act_name,:class => "sexybutton sexysimple sexypurple sexyxl", :type => "submit"%>
                <%end%>
                <br>
        <%end%>
<%= link_to @e.event_name, {:controller => 'event',:action => '/'},:class => 'sexybutton sexysimple sexymagenta sexyxl' %>

</div>

<script>
        $(document).ready(function(){ 
        	$("#account").tablesorter(); 
    	}); 
        $('.tmp').live('click',function(){
                var self = $(this);
                if(self.hasClass('added')) {
                        self.removeClass('added');
                        self.next().remove();
                        return;
                }
                var id = self.attr('id').substr(4); //split 'post'
                
                $.ajax({type: "POST", url: "/event/get_ajax", data:{ "id" : id }, dataType: "html", timeout: 5000,
                success: function(data,textStatus,xhr){
                        data = data.split("\n").join("<br />");
                        self.addClass('added').after('<tr class="detail"><td colspan="5">'+data+'</td></tr>');
                        //console.log(data);
                },
                error: function(xhr,textStatus,e){
                        console.log("error");
                        console.log(xhr);
                        console.log(textStatus);
                        console.log(e);
                }});
        });

</script>

