<link rel="stylesheet" href="http://sexybuttons.googlecode.com/svn-history/r4/trunk/sexybuttons.css" type="text/css">
 <%= stylesheet_link_tag 'event' %>
<div id="header">
<h3><%=@e.organization.org_name%></h3><a href="/event/" style="text-decoration:none"><h1><%=@e.event_name%></h1></a>
</div>
<div id="userinfo">
       <p>Hello, <%= @uu.username %><br>
       <img src="https://graph.facebook.com/<%=@uu.fb_id%>/picture?access_token=<%= @access_token %>"></p>

<p><%= link_to '回活動列表', home_path,:class => 'sexybutton sexysimple sexygreen sexyxl' %></p>
<p><%= link_to '管理', {:controller => 'event',:action => 'manage'},:class => 'sexybutton sexysimple sexyyellow sexyxl' %></p>
</div>
<div id="content">
<%if @dep_type == 0%> 
	<div id="tabs25">
        <ul>
        <li><a href="/event/show_dep" class="current"><%=@d.dep_name%></a></li>
        <li><a href="/event/show_dep_aboutus/" >部門介紹</a></li>
        <li><a href="/event/show_dep_members/" >成員</a></li>
        <li><a href="/event/show_dep_calendar/" >行事曆</a></li>
        <li><a href="/event/show_dep_forum/" >討論區</a></li>
        <li><a href="/event/show_dep_accounting/" >收支表</a></li>
        </ul>
	</div>
	
	<%if @ps.size == 0%>
		<h3>目前尚無公告文章。</h3>
	<%else%>
		<%@ps.each do |p|%>
			<%@u = User.find(p.user_id)%>
			<p><%=p.title%>:<%=p.content%> posted by <%=@u.username%> <%=p.updated_at%>
			<%if @u.id == @user_id%>
                                 <%= link_to '刪除',{ :controller => 'event', :action     => 'del_post', :p_id => p.id, :type => "dep"},:method => :delete, :confirm => "你確定要刪除此篇文章嗎？"%>
                        <%end%></p>

		<%end%>
	<%end%>

	<%if @see == 1%>
        <%= form_tag(:controller => 'event', :action => 'create_post',:type => 'dep',:e_id => @d.id) do %>
                <h3>文章標題&nbsp;&nbsp;<%= text_field_tag(:post_title)%></h3>
                <h3>文章內容</h3><h3><%= text_area_tag(:post_content,nil,:size=>"25x10",:border=>"0")%></h3>
                <%= submit_tag("完成")%>
        <%end%>
	<%end%>


<%elsif @dep_type == 1%>
<div id="tabs25">
        <ul>
        <li><a href="/event/show_dep" ><%=@d.dep_name%></a></li>
        <li><a href="/event/show_dep_aboutus/ "class="current" >部門介紹</a></li>
        <li><a href="/event/show_dep_members/" >成員</a></li>
        <li><a href="/event/show_dep_calendar/" >行事曆</a></li>
        <li><a href="/event/show_dep_forum/" >討論區</a></li>
        <li><a href="/event/show_dep_accounting/" >收支表</a></li>
        </ul>
</div>
<%if @d.dep_subtitle == nil && @d.dep_description == nil && @d.dep_image_url == nil%>
        <h3>尚未建立任何介紹內容，部門負責人可於 管理->管理部門 修改。</h3>
<%else%>
        <h2><%=@d.dep_name%><%if @d.dep_subtitle != nil%> - <%=@d.dep_subtitle%><%end%>
        </h2>
        <%if @d.dep_description != nil%>
                <h3><%=@d.dep_description%></h3>
        <%end%>
<br>
        <%if @d.dep_image_url != nil%>
                <%=image_tag(@d.dep_image_url,:width=>250)%>&nbsp;&nbsp;
        <%end%>
<%end%>


<%elsif @dep_type == 2%>
<div id="tabs25">
        <ul>
        <li><a href="/event/show_dep" ><%=@d.dep_name%></a></li>
        <li><a href="/event/show_dep_aboutus/" >部門介紹</a></li>
        <li><a href="/event/show_dep_members/" class="current" >成員</a></li>
        <li><a href="/event/show_dep_calendar/" >行事曆</a></li>
        <li><a href="/event/show_dep_forum/" >討論區</a></li>
        <li><a href="/event/show_dep_accounting/" >收支表</a></li>
        </ul>
</div>
負責人: 
<%if @dep_head.fb_id == nil%>
<%=@dep_head.email%>
<%else%>
<div class="grid_item">
<a href=http://www.facebook.com/profile.php?id=<%=@dep_head.fb_id%>>
<img class="img" src="https://graph.facebook.com/<%=@dep_head.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=@dep_head.username%></div>
</a></div>
<%end%>

<h3>成員 共<%=@d.users.size%>人</h3>
<% @d.users.each do |u|%>
        <% if u.username != nil%>
<div class="grid_item">
        <a href=http://www.facebook.com/profile.php?id=<%=u.fb_id%>><img class="img" src="https://graph.facebook.com/<%=u.fb_id%>/picture?access_token=<%= @access_token %>"><div class="name"><%=u.username%></div></a>
</div>
        <%end%>
<%end%>
<br>
<% @d.users.each do |u|%>
        <% if u.username == nil%>
                <%=u.email%><br>
        <%end%>
<%end%>


<%elsif @dep_type == 3%>
<div id="tabs25">
        <ul>
        <li><a href="/event/show_dep" ><%=@d.dep_name%></a></li>
        <li><a href="/event/show_dep_aboutus/" >部門介紹</a></li>
        <li><a href="/event/show_dep_members/" >成員</a></li>
        <li><a href="/event/show_dep_calendar/"class="current" >行事曆</a></li>
        <li><a href="/event/show_dep_forum/" >討論區</a></li>
        <li><a href="/event/show_dep_accounting/" >收支表</a></li>
        </ul>
</div>
<%if @see == 1%> 
<%else %>
        <h3>很抱歉，你無權限觀看此頁。</h3>
<%end%>

<%elsif @dep_type == 4%>
<div id="tabs25">
        <ul>
        <li><a href="/event/show_dep" ><%=@d.dep_name%></a></li>
        <li><a href="/event/show_dep_aboutus/" >部門介紹</a></li>
        <li><a href="/event/show_dep_members/" >成員</a></li>
        <li><a href="/event/show_dep_calendar/" >行事曆</a></li>
        <li><a href="/event/show_dep_forum/"class="current" >討論區</a></li>
        <li><a href="/event/show_dep_accounting/" >收支表</a></li>
        </ul>
</div>
<%if @see == 1%> 
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=418210271537455&amp;xfbml=1"></script><fb:comments href="http://Activ.herokuapp.com?event_id=<%=@id%>&dep_id=<%=@d.id%>" num_posts="2" width="500"></fb:comments>
<%else %>
        <h3>很抱歉，你無權限觀看此頁。</h3>
<%end%>



<%elsif @dep_type == 5%>
<div id="tabs25">
        <ul>
        <li><a href="/event/show_dep" ><%=@d.dep_name%></a></li>
        <li><a href="/event/show_dep_aboutus/" >部門介紹</a></li>
        <li><a href="/event/show_dep_members/" >成員</a></li>
        <li><a href="/event/show_dep_calendar/" >行事曆</a></li>
        <li><a href="/event/show_dep_forum/" >討論區</a></li>
        <li><a href="/event/show_dep_accounting/" class="current">收支表</a></li>
        </ul>
</div>

<%end%>



</div>
<div id="rightcolumn">
        <br><br><br>
        <% @deps.each do |d|%>
                <%=form_tag :controller => 'event', :action => 'show_dep' do %>
                        <%= hidden_field_tag(:dep_id, d.id) %>
                        <!--%= submit_tag(d.dep_name) %-->
                        <%= button_tag d.dep_name,:class => "sexybutton sexysimple sexyblue sexyxl", :type => "submit"%>
                <%end%>
                <br>
        <%end%>

        <% @acts.each do |a|%>
                <%=form_tag :controller => 'event', :action => 'show_act' do %>
                        <%= hidden_field_tag(:act_id, a.id) %>
                        <!--%= submit_tag(a.act_name) %-->
                        <%= button_tag a.act_name,:class => "sexybutton sexysimple sexypurple sexyxl", :type => "submit"%>
                <%end%>
                <br>
        <%end%>
<%= link_to @e.event_name, {:controller => 'event',:action => '/'},:class => 'sexybutton sexysimple sexymagenta sexyxl' %>

</div>


